
.App{
  background-color: white;
  font-family: 'Inter', 'sans-serif', 'Playfair Display', serif, 'Grandslang roman';
  color: rgba(51,51,51,1);
}

h1 {
  font-size:xx-large;
  
}


/* ###### HOMEPAGE ###### */

.homepage {
  font-family: 'Playfair Display', ;
  text-align: center;
  background-color: #eee7e1;
  height: 100vh;

}

.homepageContent > h1 {
  font-size: 8vw;
  color: rgba(51,51,51,1);
  font-family: 'Playfair Display';
  font-weight: lighter;
}

.homepageContent > h2 {
  font-size: 2vw;
  color: rgba(51,51,51,1);
  font-weight: light;
  font-family: 'Playfair Display';
}

.homepageContent > h3 {
  font-size: 1.5vw;
  color: rgba(51,51,51,1);
  font-weight: lighter;
  font-family: 'Playfair Display';
}

.homepagePic {
  height: 60vh;
  margin-bottom: -3%;
  width: 100vw;
  border: 3px solid rgba(51,51,51,1);
  border-radius: 5px;
}


/* ###### NAVBAR ######*/

.navBar {
  font-size: 1.3vw;
  font-weight: bold;
  background-color: rgba(51,51,51,1) !important;
  
}

.navItem {
  color: #eee7e1 !important;
}


.navBar .myLogo {
  font-size: 55px;
  font-weight: lighter;
  color: pink !important;
  line-height: -1px;
  border: solid 2px white;
  margin-top: 4vh;
  font-family: 'Playfair Display';
  padding-bottom: 1px;
  padding-top: 1px;
}

.helle {
  color: palevioletred;
}

.active {
  color: palevioletred !important;
}
/* ###### SHARED LAYOUT ###### */

.myStickyBox {
  position: fixed;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  text-align: center;
  z-index:2;
}

.myStickyBox a {
display: block;
width: 40px;
padding-top: 5%;
padding-bottom: 5%;
text-align: center;
}

.linkedin{
color: #007bb5;
background: white;
}

.github {
  color: black;
  background: white;
}

.email {
  color: black;
  background:white;
}


/* ####### CONTACT PAGE ####### */

.contactPage{
  background-color: #eee7e1;
  margin-top: 2vh;
  width: 100vw;
  height: 100%;
  padding-bottom: 2vh;
}

.contactForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: block;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding-top: 2vh;
  position: relative;
  padding-bottom: 2vh;
}

.formContainer:before{
  content:'';
  background-color: rgba(51,51,51,1);
  background-size: cover;
  position: absolute;
  top:0px;
  right:0px;
  bottom: 0px;
  left: 0px;
  border-radius: 5px;
  border: solid 2px;
  border-color: pink;
}


.contactFormHeader > h2 {
  font-family:'Playfair Display';
  font-size: 10vw;
  font-weight: 7vw;
  display: block;
  font-weight: lighter;
  text-align: center;
  justify-content: center;
  color:rgba(51,51,51,1)
}

.formContainer > div > label {
  margin: 0 1vw 0 1vw;
  padding: 1vh 1vw 1vh 1vw;
  display: flex;
  color: white;
  font-size: 1.2em;
  position: relative;
  font-family: 'Play';
}

.formContainer > div > input{
  font-family: 'Playfair Display';
  color: black;
  font-size: 1.2em;
  width: 35vw;
  margin: 0 2vw 2vh 2vw;
  margin-bottom: 2vh;
  padding: 1vh 1vw 1vh 1vw;
  border: solid 2px;
  background-color: white;
  border-color: pink;
  position: relative;
  border-radius: 5px;
}

.formContainer > div> textarea {
  width: 35vw;
  height: 15vh;
  color: black;
  margin: 0 2vw 2vh 2vw;
  border: solid 2px pink;
  background-color: white;
  border-radius: 5px;
  font-family: 'Playfair Display';
  position: relative;
}

.button {
  font-family: 'Playfair Display';
  position: relative;
  background-color:pink;
  border: none;
  width: 6vw;
  border-radius: 10px;
  padding: 1vh;
  color:palevioletred;
  font-size: 1vw;
}

.alertMessage{
  width: 40vw;
  height: 20vh;
  margin: 1vh auto 0 auto;
  padding: 1vh;
  font-size: 1.2em;
}


/* ###### RESUME PAGE ###### */

.resumeContainer{
  display:  block;
  width: 100%;
  height: 50%;
  justify-content: center;
  margin-top: 2vh;
  padding: 2vh 2vw 2vh 2vw;
  background-color: #eee7e1;
  background-size: cover;
  text-align: center;
}

.resumeContainer > div > h2 {
  font-family:'Playfair Display';
  font-size: 10vw;
  font-weight: 300;
  color: rgba(51,51,51,1)
}

.resumeContainer > object{  
  width: 800px;
  height: 100vh;
  
}


/* ###### ABOUT ###### */

.aboutContainer {
  background-color: #eee7e1;
  height: 100%;
  width: 100%;
  margin-top: 2vh;
  background-size: cover;
  padding-bottom: 2vh;
}

.aboutContainer > h2 { 
  font-family:'Playfair Display';
  font-size: 10vw;
  font-weight: 300;
  text-align: center;
  color: rgba(51,51,51,1)
}

.aboutContent { 
  font-size: 1.5vw;
  position:relative;
  line-height: 1.7em;
  margin-top: 10vh;
  margin-right: 10vw;
  margin-left: 10vw;
  display: block;
  font-family: 'Playfair Display';
  text-align: justify;
}

.aboutIntro {
  display: block;
  font-size: 2vw;
  font-family: 'Playfair Display';
  line-height: 1.5em;
  align-content: justify;
}

.myPic{
  width: 30%;
  position: relative;
  display: block;
  float: right;
  margin: 5%;
  border: 5px solid rgba(51,51,51,1);
  border-radius: 5px;
}

.technologies{
  font-size: 2vw;
  position:relative;
  line-height: 1em;
  margin-right: 10vw;
  margin-left: 10vw;
  display: block;
  font-family: 'Playfair Display';
  text-align: justify;
}


/* ###### PROJECTS PAGE ###### */

.projectsPage{
  background-color: #eee7e1;
  height: 100%;
  width: 100%;
  margin-top: 2vh;
  background-size: cover;
  padding-bottom: 1vh;
}

.projectsPage > div > h2 {
  display: block;
  font-size: 1.7vw;
  font-family: 'Playfair Display';
  line-height: 1.5em;
  align-content: justify;
  margin-left: 10vw;
  margin-bottom: 0;
}

.projectsHeader{
  font-family:'Playfair Display';
  font-size: 10vw;
  font-weight: 300;
  text-align: center;
  color: rgba(51,51,51,1);
  padding-bottom: 0.5vh;
  
}

.projectOne {
  display: block;
  width: 90%;
  height: fit-content;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: justify;
  padding: 1em;
}

.projectTwo {
  display: block;
  width: 90%;
  height: fit-content;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: justify;
  padding: 1em;
}

.projectThree {
  display: block;
  width: 90%;
  height: fit-content;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: justify;
  padding: 1em;
}

.projectOne > img {
  max-width: 30vw;
  max-height: 100%;
  position: relative;
  float: right;
  margin-top: 4px;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 20px;
  border: solid 2px palevioletred;
  border-radius: 5px;
  padding: 2px
}

.projectOne > p { 

  font-size: 1.5vw;
  position:relative;
  line-height: 1.7em;
  margin-top: 0;
  margin-right: 10vw;
  margin-left: 5vw;
  display: block;
  font-family: 'Playfair Display';
  text-align: justify;
}

.projectTwo > img {
  max-width: 30vw;
  max-height: 100%;
  position: relative;
  float: right;
  margin-right: 2px;
  margin-left: 20px;
  border: solid 2px palevioletred;
  border-radius: 5px;
  padding: 2px;
}

.projectTwo > p {
  font-size: 1.5vw;
  position:relative;
  line-height: 1.7em;
  margin-top: 0;
  margin-right: 10vw;
  margin-left: 5vw;
  display: block;
  font-family: 'Playfair Display';
  text-align: justify;
}

.projectThree > img {
  max-width: 35w;
  min-width: 30vw;
  max-height: 25vh;
  min-height: 35vh;
  position: relative;
  display: block;
  float: right;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 20px;
  border: solid 2px palevioletred;
  border-radius: 5px;
}

.projectThree >p{
  font-size: 1.5vw;
  position:relative;
  line-height: 1.7em;
  margin-top: 0;
  margin-right: 10vw;
  margin-left: 5vw;
  display: block;
  font-family: 'Playfair Display';
  text-align: justify;
}

.projectLink {
  color: black;
  padding: 1em;
  display: inline-block;

}