
.App{
  background-color: white;
  font-family: 'Inter', sans-serif;
  color: rgb(0, 0, 86);
}


h1 {
  font-size:xx-large;
}

/* ###### HOMEPAGE ###### */
.homepage {
  font-family: 'Inter', sans-serif;
  text-align: center;
  overflow:hidden;
  background-color: #EA9A27;
  z-index:1;
}

.homepageContent > h1 {
  font-size: 5em;
  color: white;
}
.homepageContent > h2 {
  font-size: 3em;
  color: white;
}

.homepagePic {
  margin-bottom: -3%;
  width: 100%;
}


/* ###### NAVBAR ######*/

.navBar {
  font-size: large;
  font-weight: bold;
  color: white !important;
}

.navBar .myLogo {
  font-size: xx-large;
  font-weight:bold; 
  color: whitesmoke
}


/* ###### SHARED LAYOUT ###### */

.myStickyBox {
  position: fixed;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10%;
  text-align: center;
  z-index:2;
}

.myStickyBox a {
display: block;
width: 40%;
padding-top: 5%;
padding-bottom: 5%;
text-align: center;
}

.linkedin{
color: #007bb5;
background: white;
}

.github {
  color: black;
  background: white;
}

.email {
  color: black;
  background:white;
}

.footer {
  background-color: white
}


/* ###### PROJECTS PAGE ###### */

.projectsPage {
  background-color: whitesmoke;

}

.projectsHeader {
  background-color: whitesmoke;
  font-size: 5em;
  font-weight: 80vh;
  letter-spacing: -0.02em;
  text-align: start;
  color: #007bb5;
  padding-top: 5%;
  margin-left: 14%;
  padding-left: 5%;
}

.projectOne {
  background-color: orange;
  padding: 5%;
  padding-bottom: 0;
}

.projectTwo {
  width: 100%;
  height: 100%;
  background-color:#15b8b8;
  padding-top: 15%;
}

.githubLink {
  color: white;
}


/* ####### CONTACT PAGE ####### */

.contactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.formContainer {
  display: table;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 5px;
}

.formContainer > h2 {
  justify-content: center;
  color: orangered;
  font-size: 2em;
  padding-top: 1vh;
  font-weight:bolder ;
  
}
.formContainer > div{
  display:table-row;
}

.formContainer > div > label,
.formContainer > div > textarea {
  margin: 0 1vw 0 1vw;
  padding: 0 1vw 0 1vw;
  display: flex;
  color: darkcyan;
  font-size: 1.2em;
  width: 35vw;
}

.formContainer > div > label {
  font-weight: bold;
}

.formContainer > div > input{
  color: black;
  font-size: 1.2em;
  width: 35vw;
  margin: 0 2vw 2vh 2vw;
  padding: 1vh 1vw 1vw 1vh;
  border: solid 1px;
  border-color: lightgray;
  border-radius: 5px;
}


.formContainer > div> textarea {
  width: 35vw;
  height: 15vh;
  color: black;
  margin: 0 2vw 2vh 2vw;
  border: solid 1px;
  border-color: lightgray;
  border-radius: 5px;
}

.formContainer > input {
  width: 5vw;
  height: 4vh;
  color:  rgb(0, 18, 83);
  margin-bottom: 1vh;
  border-radius: 5px;
  background-color: white;
}

.alertMessage{
  width: 40vw;
  height: 20vh;
  margin: 1vh auto 0 auto;
  padding: 1vh;
  font-size: 1.2em;
}


.resumeContainer{
  display:  flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  margin-top: 5vh;
  padding: 2vh 2vw 2vh 2vw;
  background-color: rgb(170, 186, 158);
  background-size: contain;
}

.resumeContainer > object{
  display: flex;
  width: 800px;
  height: 800px;
}