.homePage {
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: rgb(0, 0, 86);
  overflow:hidden;
  background-color: #EA9A27;
  color: white;
  z-index:1;
}
  
h1 {
  font-size:xx-large;
}


.homepagePic {
  margin-bottom: -3%;
  width: 100%;
  
}

.navBar {
  font-size: large;
  font-weight: bold;
  color: white !important;

}

.navBar .myLogo {
  font-size: xx-large;
  font-weight:bold; 
  color: whitesmoke
}

.sectionHeader {
  vertical-align: bottom;
  font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
  font-size: 1000%;
  font-weight: 800%;
  letter-spacing: -0.02em;
  text-align: start;
  position: relative;
  pointer-events: none;
  padding-top: 3%;
  margin-left: 26%;
  z-index:1;
  /* color: darkblue; */
  
  
  

}



.myStickyBox {
  position: fixed;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10%;
  text-align: center;
  z-index:2;
}

.myStickyBox a {
display: block;
width: 40%;
/* padding-right: 1%; */
padding-top: 5%;
padding-bottom: 5%;
text-align: center;

}

.linkedin{
color: #007bb5;
background: white;

}

.github {
  color: black;
  background: white;
}

.email {
  color: black;
  background:white;
}

.footer {
  
  background-color: white
 
}



.projectsHeader {
  background-color: white;
  font-size: 20vh;
  font-weight: 80vh;
  letter-spacing: -0.02em;
  z-index: 3;
  text-align: start;
}



.projectOne {
  background-color:#EA9A27;
  text-align: start;
  max-width: 100%;
  min-width: 100%;
  
}

.projectOne > img {
  max-width: 100%;
  min-width: 100%;
}

.projectTwo {
  text-align: start;
  color: black;
  
  background-color:teal;
  display: grid;
  grid-template-columns: 1fr;

}

.projectTwo > img {
  max-width: 100%;
  margin-top: 0%;
}


.projectThree {
  text-align: start;
  color: black;
  font-size: 8vh;
  background-color: orange;
  /* max-height: 50%;
  min-width: 90%;
  max-width: 99%; */
  
}

.projectThreeContainer{
  display: grid;
  grid-template-columns: 1fr;
  background-color: orange;
 
}

.projectThreeh2{
  width: 100%;
  background-color: orange;
  
  
}

/* .movieRating {
  background-color: teal;
  margin-left: 5%;
  padding: 10%;
  
} */

.portfolioHeader {
  
  z-index: 2;
}

.projectsSection {
  background-color: white;
  
}

.contactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.formContainer {
  display: table;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 5px;

}

.formContainer > h2 {
  justify-content: center;
  color: orangered;
  font-size: 2em;
  padding-top: 1vh;
  font-weight:bolder ;
  
}
.formContainer > div{
  display:table-row;
}

.formContainer > div > label,
.formContainer > div > textarea {
  margin: 0 1vw 0 1vw;
  padding: 0 1vw 0 1vw;
  display: flex;
  color: darkcyan;
  font-size: 1.2em;
  width: 35vw;
}

.formContainer > div > label {
  font-weight: bold;
}

.formContainer > div > input{
  color: black;
  font-size: 1.2em;
  width: 35vw;
  margin: 0 2vw 2vh 2vw;
  padding: 1vh 1vw 1vw 1vh;
  border: solid 1px;
  border-color: lightgray;
  border-radius: 5px;
}


.formContainer > div> textarea {
  width: 35vw;
  height: 15vh;
  color: black;
  margin: 0 2vw 2vh 2vw;
  border: solid 1px;
  border-color: lightgray;
  border-radius: 5px;

}

.formContainer > input {
  width: 5vw;
  height: 4vh;
  color:  rgb(0, 18, 83);
  margin-bottom: 1vh;
  border-radius: 5px;
  background-color: white;
}

.alertMessage{
  width: 40vw;
  height: 20vh;
  margin: 1vh auto 0 auto;
  padding: 1vh;
  font-size: 1.2em;
}

.projectPage {
  background-color: black;
  opacity: 0.9;
  padding: 2%;
}